body {
    background-color: hsl(0, 0%, 98%);
    border: ridge;
}



h1,
h2,
h3,
h4,
h5,
h6 {

    font-size: 14px;
}

.box-element {
    box-shadow: hsl(0, 0%, 80%) 0 0 16px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
}

.thumbnail {
    width: 100%;
    height: 200px;
    -webkit-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
    box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
}

.product {
    border-radius: 0 0 4px 4px;
}

.bg-dark {
    background-color: #4f868c !important;
}

#cart-icon {
    width: 25px;
    display: inline-block;
    margin-left: 15px;
}

#cart-total {
    display: block;
    text-align: center;
    color: #fff;
    background-color: red;
    width: 20px;
    height: 25px;
    border-radius: 50%;
    font-size: 14px;
}

.col-lg-4,
.col-lg-6,
.col-lg-8,
.col-lg-12 {
    margin-top: 10px;
}

.btn {
    border-radius: 0;
}

.row-image {
    width: 100px;
}

.form-field {
    width: 250px;
    display: inline-block;
    padding: 5px;
}

.cart-row {
    display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

.quantity {
    display: inline-block;
    font-weight: 700;
    padding-right: 10px;
}

.chg-quantity {
    width: 12px;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    transition: .1s;
}

.chg-quantity:hover {
    opacity: .6;
}

.hidden {
    display: none !important;
}

.user-area .dropdown-toggle {
    line-height: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
}

.user-area .user-avatar {
    float: right;
    width: 40px;
}

.rounded-circle {
    border-radius: 50%;

}

.user-area .user-menu {
    background: #fff;
    left: inherit;
    right: 0;
    top: 54px;
    margin: 0;
    padding: 5px 10px;
    position: absolute;
    width: 100%;
    z-index: 999;
    max-width: 150px;
    box-shadow: 0 3px 12px rgb(0, 0, 0, 0.05);

}

.dropdown-menu.show {
    display: block;
}

.user-area .user-menu .nav-link {
    color: #607d8b;
    display: block;
    font-size: 13px;
    line-height: 20px;
    padding: 5px 0;
}




nav ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}















@-webkit-keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(250px * 7));
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(250px * 7));
    }
}

.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}

.slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    -webkit-animation: scroll 4s linear infinite;
    animation: scroll 4s linear infinite;
    display: flex;
    width: calc(15px * 7);
}

.slider .slide {
    height: 100px;
    width: 250px;
}














